<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mining</title>
    <div>
        <img src="" alt=""> banner image
    </div>
    <style>
        body {background-color: cornsilk; background-blend-mode: luminosity;}
    </style>
</head>
<body>
    

    <aside><div class="left wing"> To previous</div></aside>
    <aside><div class="right wing">To further</div></aside>
    
    <div class="diary write">
        <div class="case"> casebox </div>
            <textarea name="case" rows="10" cols="50"> </textarea>
                <section>
                <div class="act"> act tag</div>
                <div class="result">result tag</div>
                </section>
         <div class="emotion">emotion box
            <textarea name="emotion" id="" cols="30" rows="10"></textarea> 
            </div>
        <div class="thought">thought box 
            <textarea name="thought" id="" cols="30" rows="10">
            </textarea></div> 
        
        <form action="Diary.html" method="post"><button type="submit"> save </button></form>
    </div>

    <div class="feedback">
        0<input type="range" name="opacity" id="opacity">100
        <button type="menu"> + </button>
    </div>
</body>
</html>