<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Miner</title>
    <div>
        <img> banner image, title
    </div>
</head>
<body>
    
    <h1>WELCOME to My Miner</h1>
    <div>
        <div>
            <div>
                in ID
            </div>
            <div>
                Password <input type="password" name="pw">
            </div>
           
            <button type="submit"> Login </button>
        </div>
        <button type="menu"> Register </button>
        <button type="menu"> Find Id</button>
    </div>
</body>
</html>